# Arquivos de compilação e executáveis
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de log e saída
*.log
*.out

# Diretório de dependências (gerado pelo go mod)
/vendor/

# Arquivo de configuração de dependências (gerado pelo go mod)
go.sum

# Arquivos de configuração específicos para o seu ambiente
.env

# Arquivos de IDE e editor (exemplos para VS Code e IntelliJ)
.vscode/
.idea/

# Arquivos de build específicos do Go
/build/

# Arquivos de teste e cobertura de código
*.test
*.cover

# Arquivos de backup
*~
